@model IEnumerable<Question>
@using QuiryForum.Data;

@{
    ViewData["Title"] = "Home";
    if (ViewData["CategoryTitle"] == null)
    {
        ViewData["CategoryTitle"] = "Recently Asked";
    }

}

<div class="row">
    <div class="col-8" id="main-content">
        <h1>@ViewData["CategoryTitle"]</h1>
        <hr />
        <div class="row" style="height:800px">
            @foreach (Question q in Model)
            {
                //ApplicationUser poster = await UserDB.GetUserByID(q.UserId);
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(m => q.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(m => q.Content)</p>
                        <!--<p class="card-text">poster.UserName</p>-->
                        <p class="card-text">@Html.DisplayFor(m => q.PostingDate)</p>
                        <a class="stretched-link" asp-action="ViewQuestion" asp-controller="Posts">
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-4">
        <div class="row" id="question-box" style="border:dashed green .2em; height:350px">
            <p>Box that prompts user to ask a question</p>
            <input type="button" class="btn btn-info" value="Ask a question!" onclick="location.href='@Url.Action("Ask", "Posts")'" />

        </div>

        <div class="row" id="category-container" style="border:dashed purple .2em; height:500px">
            <p>List of categories for users to browse questions</p>
        </div>
    </div>
</div>

<style>
    p {
        margin: auto;
    }
</style>
